/*@body Main body style start */

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

/* Main body style End */


/* @MainContainer  Main Container Grid Start */
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/* Main Container Grid End */

/*@header Header style Start */
.header{
  grid-area: header;
  background-color: #1d4354;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding-left: 5rem;

}

/* @header-logo */
.header .header-logo a{
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

/* @header-menu */
.header .header-menu {

  padding-right: 5rem;
}

.header .header-menu a {

  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}

/* hover on logo and menu */
.header .header-logo a:hover{
  color: green;

}

.header .header-menu a:hover{
  color: green;
}

/* Header style Start */

/*@main Main Content Sytle Start */
.main{
  grid-area: main;
  padding: 30px;
}
/*@main-content Component Start */

/* Main Content Sytle Start */


/*@footer Footer style Start */
.footer{
  grid-area: footer;
  background-color: #1d4354;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer style Start */


/* For Mobile Responsive Start */
@media (max-width:550px){
  /* header padding */
  .header{
    padding-left: 1.5rem;
  }

  /* header logo size */
  .header .header-logo a{
    font-size: 2rem;
  }
/* header menu right padding */
  .header .header-menu {
    padding-right: 2rem;
  }

  .header .header-menu a {
    font-size: 1.5rem;
     padding: 1rem;
  }

  

}