/*@body Main body style start */

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root{
  height: 100%;
}

.text-center{
  text-align: center;
}
/* Main body style End */


/* @MainContainer  Main Container Grid Start */
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
/* Main Container Grid End */

/*@header Header style Start */
.header{
  grid-area: header;
  background-color: #1d4354;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding-left: 5rem;

}

/* @header-logo */
.header .header-logo a{
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

/* @header-menu */
.header .header-menu {

  padding-right: 5rem;
}

.header .header-menu a {

  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem;
}

/* hover on logo and menu */
.header .header-logo a:hover{
  color: green;

}

.header .header-menu a:hover{
  color: green;
}

/* Header style Start */

/*@main Main Content Sytle Start */
.main{
  grid-area: main;
  padding-top:2rem
}
/*@main-content Component Start */

/* Main Content Sytle Start */
/* @slideImage Home Folder style component @ImageSliders Start*/
.images-Slider{
  display: flex;
  justify-content: space-between;
}
.images-Slider p{
  cursor: pointer;
  
}
.images-Slider img{
  width: 100%;
  height: 450px;
  object-fit: cover
}
/* @slideImage Home Folder style component @ImageSliders End*/

/*Home Folder style component @HowItWork Start  */
 
  .how-it-work{
    background-color: #f1f1f1;
    padding-top: 1.5rem;
    

  }
  .how-it-work h3{
      font-weight: bold;
  }

  .works{
     
      display: flex;
      height: 100%;
      flex-direction: row;
      padding-top: 1.5rem;
      margin-bottom: 1.5rem;
  }
  
  .works h5{
    margin-top: 2rem;

  }
  .works p{
      margin-top: 2rem; 
  }

  .works div{
    width: 100%;
    flex-grow: 4;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
  }

  .works div img{
      border:1px solid black;
      border-radius: 50%;   
  }
/*Home Folder style component @HowItWork End  */

/* Home Folder style component @WhyChoose Start */

.whyChoose{
  padding-top: 1.5rem;
}

.whyChoose h3{
  font-weight: bold;
}

.choose{ 
  display: flex;
  height: 100%;
  flex-direction: row;
  padding-left: 1rem;
}

.choose div{
  width: 100%;
  flex-grow: 4;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}

.choose div img{
  height: 200px;
  max-height: 100%;
  max-width: 100%;
  
}

/* Home Folder style component @WhyChoose End */

/* Home Folder style component @OurTeam Start */
.our-team{
  background-color:#f1f1f1;
  padding-top: 1.5rem;
}

.our-team h3{
  font-weight: bold;
}

.team{
  display: flex;
  padding-top: 1rem;
  height: 100%;
  flex-direction: row;
}

.team div{
  width: 100%;
  flex-grow: 4;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}

.team div img{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}
.team div h3{
  
text-shadow: 3px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}
/* Home Folder style component @OurTeam Start */

/*@footer Footer style Start */
.footer{
  grid-area: footer;
  background-color: #1d4354;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer style Start */


/* For Mobile Responsive Start */
@media (max-width:550px){
  /* header padding */
  .header{
    padding-left: 1.5rem;
  }

  /* header logo size */
  .header .header-logo a{
    font-size: 2rem;
  }
/* header menu right padding */
  .header .header-menu {
    padding-right: 2rem;
  }

  .header .header-menu a {
    font-size: 1.5rem;
     padding: 1rem;
  }

  /* image slider */
  .images-Slider img{
    height: 250px;  
  }
}
@media (max-width:850px){
 /* component @HowItWork work */
 .works{
  flex-direction: column;
}
}

@media (max-width:880px){
  /* component @whyChoose choose */
  .choose{
   flex-direction: column;
 }
 }


@media (max-width:975px){
   /* component @whyChoose choose images */
  .choose div img{
    height: 180px;;
  }
   /* component @OurTeam */
  .team div img{
    height: 200px;
    width: 200px;
  }
}


@media (max-width:680px){

/* component @OurTeam */
.team{
  flex-direction: column;
  height: 100%;
}
}